

:root{
--morado: #7b27b4;
--gris: #171920;
}

.container{
	margin: auto;
   width: 100%;
    text-align: center
}

*{
	
	margin: 0;
	box-sizing: border-box;
	
  }
  body {
	font-family: "Mulish", sans-serif;
	background-color: black;
	color: white;
	box-sizing: border-box;
	text-align: center;
	justify-content: center;
	overflow-x: hidden;
}

body, html
{
	scroll-behavior: smooth;
}	
  



.foto{
	width: 500px;
	height: 500px;
	background-image: url(../Imagenes/Foto.jpeg);
	background-size: cover;
	border-radius: 60%;
	margin: 0 auto;

}

button.Contact{
	position: relative;
	color: white;
	background-color: #7b27b4;
	border-radius: 9px;
	font-family: cursive;
	height: 50px;
	font-weight: 20px;
	font-size: 20px;
	text-align: center;
	top:-280px;
	left: -200px;
	cursor: pointer;
	border: 1px solid #827474;
	
}
#contactt{
	text-decoration: none;
	color: #fff;
}
.Contact:hover{
background: white;
color: #7b27b4;
height: 55px;
transition: 0.5s;
}

button.CV{
	position: relative;
	color: white;
	background-color:#7b27b4;
	border-radius: 9px;
	font-family: cursive;
	height: 50px;
	font-weight: 20px;
	font-size: 20px;
	text-align: center;
	top:-300px;
	left: -360px;
	cursor: pointer;
	border: 1px solid #827474;
}
.CV:hover{
	background: white;
	color: #7b27b4;;
	height: 55px;
	transition: 0.5s	;
	}
.cv{
	height: 20px;	
}


/*menu*/

  .header {

	font-family: Arial, Helvetica, sans-serif;
	display: flexbox;
	width: 100%;	
  }

  .nav {
	display: flex;
	justify-content: space-between;
	max-width: 992px;
	margin: 0 auto;
	
	
  }
  .nav-link {
	text-decoration: none;
	color: #ffffff;

}


  .nav-menu {
	display: flex;
	margin-right: 40px;
	list-style: none;
  }
  .nav-menu-item {
	font-size: 18px;
	margin:10px;
	line-height: 80px;
	width: max-content;
	
	
  }
  .nav-menu-link {
	padding: 8px 12px;
	border-radius: 3px;
  }

  .nav-menu-link:hover,
  .nav-menu-link_active {
	  background-color: var(--morado);
	transition: 0.5s;
	z-index: 1000;
  }
  /* TOGGLE */
  .nav-toggle {
	
	background: none;
	border: none;
	font-size: 30px;
	padding: 0 20px;
	line-height: 60px;
	cursor: pointer;
	display: none;
	color: #fff;
  }
  





section{
	height: 600px;
}

.sect1,.sect2,.sect3,.sect4,.sect5{
	
	padding: 10px 10px;

}


.foto{

	position: relative;
	justify-content: center;

	width: 400px;
	left: 299px;   
}

.logo{
	margin: 5px;
	 font-size:  50px;
	 font-family: bradley Hand ITC;
	 color: #7d858b;
	text-decoration: none;
	 font-weight: bold;
		}

		
	
  h1.soft{	
	left: -300px;
	top:-300px;
	position: relative;
	font-size: 60px;
	font-family: Broadway;
	}

  h2.developer{
	top: -300px;
	left: -300px;
	position:  relative;
	font-size:  50px;
	font-family: Arial, Helvetica, sans-serif ;
  }


h2.nombre
	{		
	  top: -300px;
	  left: -300px;
	  position: relative;
	  font-size:  20px;
	  font-family: Arial, Helvetica, sans-serif ;
	}


.contact{
height: 20px;
}



/*who i am*/
.who{
	top:100px;
	position: relative;
	font-size:40px;
	right:-300px;
}

.junior{

	position: relative;
	text-align:justify;
	font-family:Georgia, 'Times New Roman', Times, serif;
	width: 40%;
	right: -58%;
	top: 25%;

	
}

.develo{
	position: relative;
	left: 400px;
	top:  100px ;
}

.img1{
	position: relative;
	width: 560px;
	top: -90px;
	left: -200px;	
	
}

/*educacion*/
.Education{
	transition: width 2s;
	
}

h1.education{
	position: unset;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	justify-content: center;
	text-align: center;
	
	}

h2.university{
	font-family: Arial, Helvetica, sans-serif;
	left: -400px;
	position: relative;
	font-size: 20px;
}

.university2{
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	font-size: 20px;
	left: -400px;
	top: 100px;
}

h2.school{
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	font-size: 20px;
	left: -390px;

}

.school2{
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	left: -450px;
	font-size: 20px;
	top: 100px;
}

.date{
	position: relative;
	font-size: 20px;
	left: -400px;
}

.date2{
	position: relative;
	left: -400px;
	font-size: 20px;
	top: 100px;
}


.card-border {
	top: -100px;
	position: relative;
    height: 30px;

    border-top: 3px solid hsla(0,0%,82.7%,.397);
	
    

}

.card-border2 {
	top: 120px;
	position: relative;
    border-top: 3px solid hsla(0,0%,82.7%,.397);
}


.unal{
	position: relative;
	left: -500px;
	transition: width 2s;
}

.sena{
	top: 100px;
	position: relative;
	left: -500px;
	transition: width 2s;

}
/*projects*/



.projects{

	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	top: 80px;
}

.times:hover{
	opacity: 1;
	transition: 0,3 ease;
	border-radius: 7px;
}


.time:hover,.time2:hover,.time3:hover{
	filter: drop-shadow(5px 5px 15px var(--morado))
	brightness(100%);

}

.time,.time2,.time3{

	justify-content: center;
	margin: 20px;
	
	filter: drop-shadow(5px 5px 15px var(--morado))
	brightness(70%);
	top: 150px;
	display: inline-block;	
	
}

.bt1:hover,.bt2:hover,.bt3:hover{
	background-color: var(--morado);
	color: white;
	padding: 0.8rem 1rem;
    border: 0;
    border-radius: 0.4rem;
}

.bt1,.bt2,.bt3{

	font-size: 17px;

	border-radius: 10px;
	
	cursor: pointer;
	border: 1px solid;
	background-color: black;
	color: white;
	padding: 0.8rem 1rem;
    border: 0;
    border-radius: 0.4rem;
	filter: drop-shadow(5px 5px 15px var(--morado))
	brightness(120%);
	display: inline-block;
	
		
}
.bt1{
	position: relative;
	
}



.bt3{
	
	position: relative;
}

.bt-ajust{
	display: inline-block
}




.bt-more{
		top: -200px;
		position: relative;
		padding: 0.8rem 1rem;
		border: 0;
		border-radius: 0.4rem;
		left: 10px;
		cursor: pointer;
		background-color: black;
		color: white;
		font-family: "Quicksand", sans-serif;
		font-size: 20px;
}

.bt-more svg{
	width: 110%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}
.bt-more rect{
	width: 100%;
	height: 100%;
	stroke: white;
	stroke-width: 10px;
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	transition: .6s ease all;
}
.bt-more:hover rect{

	stroke-dashoffset: 0;
}




.arrow{
	display: inline-block;
	 position: relative;
	 left: 0px;
	 top:-200px;
	 cursor: pointer;
	
}



/*skills*/
.sk{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	position: relative;
	top: 100px;
	justify-content: center;
	font-size:50px;
	color: var(--morado);
}
.frontend{
	width: 58%;
    display: grid;
    grid-gap: 25px;
    gap: 25px;
    grid-template-columns: repeat(5,minmax(0,1fr));
    margin: 40px auto auto;
    padding: 15px;
    color: var(--morado);
	flex-direction: column;
	

}
.iconw{
	font-size: 50px;
}


.frontend div{

	width: 100%;
	height: 100%;
	position: relative;
	display: grid;

    
    justify-content: center;
    flex-direction: column;
    padding: 30px;
	
    border-radius: 10px;
    background: #171920;
    box-shadow: rgb(0 0 0/90%) 0 40px 58px -16px,var(--morado) 0 30px 22px -10px;
	top: 150px;
	cursor: pointer;
	
}



.backend{
    width: 58%;
    display: grid;
    grid-gap: 25px;
    gap: 25px;
    grid-template-columns: repeat(5,minmax(0,1fr));
    margin: 40px auto auto;
    padding: 15px;
    color: var(--morado);
    flex-direction: column;

}

.backend div{
	width: 100%;
	height: 100px;
	position: relative;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    background: #171920;
    box-shadow: rgb(0 0 0/90%) 0 40px 58px -16px,var(--morado) 0 30px 22px -10px;
	top: 200px;
	cursor: pointer;
	



}



strong{
	font-size: 20px;
	color:#fff;
}


.general{
	width: 58%;
    display: grid;
    grid-gap: 25px;
    gap: 25px;
    grid-template-columns: repeat(5,minmax(0,1fr));
    margin: 40px auto auto;
    padding: 15px;
    color: var(--morado);

}


.general div{

	width: 100%;
	height: 100%;
	position: relative;

	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    background: #171920;
    box-shadow: rgb(0 0 0/90%) 0 40px 58px -16px,var(--morado) 0 30px 22px -10px;
	top: 300px;
	cursor: pointer;
}

	






.front{
	position: relative;
	font-size: 26px;
	top: 160px;
	justify-content: center;


}

.back{
	position: relative;
	font-size: 26px;
	top: 200px;
	justify-content: center;
}

.gen{
	position: relative;
	font-size: 26px;
	top: 300px;
	justify-content: center;
}



footer{
	height: 500px;

	background-color: var(--gris);
}

.contactt{
	font-size: 50px;
}

.linkedin i{
	color: #0e76a8;
	font-size: 50px;
	cursor: pointer;
	width: 50px;
	position: relative;
	justify-content: center;
}

.linkedin i:hover{
	color: #000000;
}
.sect5{
	height: 1400px;
}





















  /* MOBILE */
  @media screen and (max-width: 1180px) {
	
	.foto{
		left: 0px;
		
	}

	h1.soft{
		position: unset;    
		left:  260px;
		
	}
.titulos{
	top: 239px;
	max-width: 199%;
}

h2.developer{
		
		top: 0px;
		left: 10px;
		}

	h2.nombre{
		top: 0px;
		left: 10px;
 	}
	 	
		button.Contact{	
			top:100px;
			left: 100px;
		}
		
		
		
		button.CV{
			left: -50px;
			top:80px;
		
			cursor: pointer;
			border: 1px solid #827474;
		}
		.CV:hover{
			background: white;
			color: #7b27b4;;
			height: 55px;
			transition: 0.5s	;
			}
		.cv{
			height: 20px;	
		}
		



.sect1{
	height: 800px;
}
	.nav-menu { 	 
	flex-direction: column;
	align-items: initial;
	margin: 0;
	background-color: #000000;
	
	position: absolute;
	z-index: 1000;
	width: 100%;
	 top: 50px;
	  left: 100%;
	 
	}
  
	.nav-menu-item {
	  text-align: start;
	}

	.nav-toggle {
	position: relative;  

	justify-content: end;
	display:inline-block;
	z-index: 10000;
	}
  
	.nav-menu_visible {
	  left: 0;

	}
	.nav-toggle:focus:not(:focus-visible) {
	  outline: none;
	  position: relative;
	}
  

/*who i am*/

.who{
	
	left: 0px;
	top: -20px;
}

P.junior{
left: 20%;
top: 0%;
width: 60%;
	justify-content: center;
	
	
}
.develo{
	left: 0px;
	top: 50px;
}

.img1{
	left: 0px;
	width: 400px;
	top: 100px;
}

.sect2{
	height:800px
}

/*educacion*/






h2.university{
	
	position: unset;
}

.university2{
	position: unset;
	
}

h2.school{
	position: unset;


}

.school2{
	position: unset;
}

.date{
	position: unset;
}

.date2{
	position: unset;
}





.unal{
	
	position: unset;
}

.sena{
	
	position: unset;

}

.card-border {
	top: -170px;
}

.card-border2 {

	position: unset;
	
}




.sect4{
	height: 1150px;
}
/*projects*/

	
	
	.projects{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 40px;
		top: 80px;
	}
	
	
	.time,.time2,.time3:hover{
		filter: drop-shadow(5px 5px 15px var(--morado))
		brightness(100%);

	}
	.time,.time2,.time3{

		justify-content: center;
		margin: 50px;
		
		filter: drop-shadow(5px 5px 15px var(--morado))
		brightness(60%);
		top: 150px;
		flex-direction: column;
	}

	.bt1{
		position: unset;
	}


	.bt2{
		position: unset;		
	}

	.bt3{
		position: unset;
	}
	.bt-more{
		top: 60px;
		position: relative;
		padding: 0.8rem 1rem;
		border: 0;
		border-radius: 0.4rem;
		left: 10px;
		cursor: pointer;
		background-color: black;
		color: white;
		font-family: "Quicksand", sans-serif;
		font-size: 20px;
}

.bt-more svg{
	width: 110%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}
		
	.arrow{
		display: inline-block;
		 position: relative;
		 left: 0px;
		 top:60px;
		 cursor: pointer;
		
	}
	

	.sect5{
		height: 1750px;
	}
	/*skills*/
	
	.frontend{
		width: 58%;
		display: grid;
		grid-gap: 25px;
		gap: 25px;
		grid-template-columns: repeat(2,minmax(0,1fr));
		margin: 40px auto auto;
		padding: 15px;
		color: var(--morado);
		flex-direction: column;	
	}
	.backend{
		width: 58%;
		display: grid;
		grid-gap: 25px;
		gap: 25px;
		grid-template-columns: repeat(2,minmax(0,1fr));
		margin: 40px auto auto;
		padding: 15px;
		color: var(--morado);
	
	}
	.general{
		width: 58%;
		display: grid;
		grid-gap: 25px;
		gap: 25px;
		grid-template-columns: repeat(2,minmax(0,1fr));
		margin: 40px auto auto;
		padding: 15px;
		color: var(--morado);
	
	}
	

	strong{
		font-size: 15px;
		color:#fff;
	}

  }




 
	

 
  


















